@font-face {
  font-family: 'Adamina';
  font-style: normal;
  font-weight: 400;
  src: local('Adamina'), local('Adamina-Regular'), url(http://themes.googleusercontent.com/static/fonts/adamina/v4/yQWoe4dQl2wVxWej-ASAiA.woff) format('woff');
}
